body{
    background-color: rgb(8, 129, 4);
    color:rgb(89, 9, 15);
    font-family: "Fascinate Inline", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}

button{
    background-color: rgb(10, 184, 39);
    color:rgb(127, 12, 41);
    font-family: "Fascinate Inline", system-ui;
}


main{
    text-align: center;
    max-width: 90%;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

img {
max-width: 50%;

}